/* CSS Document */

tr{
	vertical-align:top;
}

body{
	border-collapse:collapse;
}

table{
	border-collapse:collapse;
}

.boxes{
	padding-right:6%; padding-left:6%; padding-top:12%; padding-bottom:12%;
}

.boxess{
	padding-right:2%; padding-left:2%; padding-top:1%; padding-bottom:1%;
}

.menuitemwidth{
	width:170px;
	height:40px;
}

.menulink{
	text-decoration:none;
	display:block;width:100%;height:100%;
	text-align:center;
	vertical-align:middle;
	padding-top:4%;
}

.menulinknormal{
	text-decoration:none;
	display:block;width:100%;height:100%;
	
}

.verticalContainer{
	height:95%;
	overflow:auto;
}

.batchitem{
	height:30px;
	padding-top:10px;
	padding-left:20px;
}

.batchitem:hover{
	background: #3399FF !important;
	color: #fff !important;
}

nav
{
	opacity: 1.0;
	position: fixed;
	left: -16em;
	top: 0;
	bottom: 0;
	background-color: #fff;
	border-right: 50px solid #765;
	box-shadow: 4px 0 5px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
	
}

/*nav:after
{
	opacity: 0.95;
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	right: -70px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #765;
}*/
nav:after
{
	/*opacity: 1.0;*/
	position: absolute;
	content: '';
	width: 50px;
	height: 225px;
	right: -65px;
	top: 35%;
	background-image: url(../images/sub-list.png);
	/*border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #765;*/
}

nav ul
{
	width: 11.4em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}

nav a:link, nav a:visited
{
	display: block;
	font-size:17px;
	line-height: 1.5em;
	text-decoration: none;
	color: #000;
	border-radius: 4px;
	outline: 0 none;
}

nav a:hover, nav a:focus
{
	color: #fff;
	background-color: #543;
	text-shadow: 0 0 4px #fff;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}



nav:hover
{
	left: 0;
}


nav:hover ~ article:after
{
	left: 60%;
}

/*
nav
{
	opacity: 0.8;
	position: fixed;
	left: -16em;
	top: 0;
	bottom: 0;
	background-color: #654;
	border-right: 50px solid #765;
	box-shadow: 4px 0 5px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
	
}

nav:after
{
	opacity: 0.5;
	position: absolute;
	content: ' ';
	width: 0;
	height: 0;
	right: -70px;
	top: 50%;
	border-width: 15px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #765;
}

nav ul
{
	width: 11.4em;
	list-style-type: none;
	margin: 0;
	padding: 1em;
}

nav a:link, nav a:visited
{
	display: block;
	font-size:10px;
	line-height: 2.5em;
	text-indent: 10px;
	text-decoration: none;
	color: #ffc;
	border-radius: 4px;
	outline: 0 none;
}

nav a:hover, nav a:focus
{
	color: #fff;
	background-color: #543;
	text-shadow: 0 0 4px #fff;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}



nav:hover
{
	left: 0;
}


nav:hover ~ article:after
{
	left: 60%;
}*/